
.my-navbar-control{
    text-align: right;
}

.my-navbar-brand{
    font-size: 2.5rem;
}

//ng
.panel-heading{
    text-align: center;
}

//ng
.welcome-bg-image {
    max-width:45rem;
    height: 0;  
    background-image: url('images/nihonshu.png') ;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; 
    margin-left: auto;
    margin-right: auto;
    padding-top: 50%;

}


.page-title{
    color: rgba(0 0 0 / 0);
    letter-spacing: .1rem;
    -webkit-text-stroke: 3px #555555;
    text-shadow: 4px 4px 0 #498EE0;

}

.p-side-origin {
    padding: 0 15%;
    background-color: #FFFFFF;
}

.p-side-adjust {
    padding: 0 25%;
}

.menu {
    -webkit-box-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-items: left;
    width: 200px;
}

.sidebar-hover:hover {
    background-color: aquamarine;
    border-radius:30px;
}

.search-btn {
    margin: 0px;
}

.font-allegra{
    font-family: 'Allegra', sans-serif;
}

.wf-mplus1p { 
    font-family: "M PLUS 1p"; }


.preview img {
    width: 200px;
    margin: 10px;
    border: solid 1px silver;
    }

.liked {
        color: rgb(233, 58, 58);
}

.like-heart {
    font-size: 25px;
}

.welcome-post-image {
    max-width: 30rem;
    height:   0;
    background-image: url('images/welcome_post.png') ;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; 
    margin-left: auto;
    margin-right: auto;
    padding-top: 50%;
}