@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/bootflat/2.0.4/css/bootflat.min.css');

.my-navbar-control{
    text-align: right;
}

.my-navbar-brand{
    font-size: 2.5rem;
}

.panel-heading{
    text-align: center;
}

.bg-light-blue {
    width: 100%;
    background-color: #dcf2fa;
}

.welcome-bg-image {
    height: 50rem;
    background-image: url('image/nihonshu.png');
    background-size:  cover;
    border-radius: 35px;
    opacity: 0.8;
}


.page-title{
    color: rgba(0 0 0 / 0);
    letter-spacing: .1rem;
    -webkit-text-stroke: 3px #555555;
    text-shadow: 4px 4px 0 #498EE0;

}

.p-side-origin {
    padding: 0 15%; 
}

