/node_modules
/public/css
/public/hot
/public/js  
/public/mix-manifest.json
/public/storage
/storage/*.key
/public/uploads
/public/uploads-profile
/vendor
.env
.env.testing
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.lo
